In [4]:
import pandas as pd
df = pd.read_csv("GroceryStoreDataSet.csv", names=['products'], header = None)
df.head()

                        products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [5]:
# 20 gözlem, 1 sütun var.
df.shape

(20, 1)

In [6]:
# 'Products' adında bir sütun var.
df.columns

Index(['products'], dtype='object')

In [7]:
df.values

array([['MILK,BREAD,BISCUIT'],
       ['BREAD,MILK,BISCUIT,CORNFLAKES'],
       ['BREAD,TEA,BOURNVITA'],
       ['JAM,MAGGI,BREAD,MILK'],
       ['MAGGI,TEA,BISCUIT'],
       ['BREAD,TEA,BOURNVITA'],
       ['MAGGI,TEA,CORNFLAKES'],
       ['MAGGI,BREAD,TEA,BISCUIT'],
       ['JAM,MAGGI,BREAD,TEA'],
       ['BREAD,MILK'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,COCK'],
       ['BREAD,SUGER,BISCUIT'],
       ['COFFEE,SUGER,CORNFLAKES'],
       ['BREAD,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,SUGER'],
       ['BREAD,COFFEE,SUGER'],
       ['TEA,MILK,COFFEE,CORNFLAKES']], dtype=object)

In [8]:
data = list(df["products"].apply(lambda x:x.split(',')))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [12]:
from mlxtend.preprocessing import TransactionEncoder

# TransactionEncoder sınıfını kullanarak veri kümesindeki kategorik özellikleri True-False değerlerine dönüştürün
te = TransactionEncoder()
te_data = te.fit(data).transform(data)

# True/False matrisini DataFrame'e dönüştürün
df = pd.DataFrame(te_data, columns=te.columns_)

# Sonucu görüntüle
print(df)

    BISCUIT  BOURNVITA  BREAD   COCK  COFFEE  CORNFLAKES    JAM  MAGGI   MILK  \
0      True      False   True  False   False       False  False  False   True
1      True      False   True  False   False        True  False  False   True
2     False       True   True  False   False       False  False  False  False
3     False      False   True  False   False       False   True   True   True
4      True      False  False  False   False       False  False   True  False
5     False       True   True  False   False       False  False  False  False
6     False      False  False  False   False        True  False   True  False
7      True      False   True  False   False       False  False   True  False
8     False      False   True  False   False       False   True   True  False
9     False      False   True  False   False       False  False  False   True
10     True      False  False   True    True        True  False  False  False
11     True      False  False   True    True        True  False  False  False
12    False       True  False  False    True       False  False  False  False
13    False      False   True   True    True       False  False  False  False
14     True      False   True  False   False       False  False  False  False
15    False      False  False  False    True        True  False  False  False
16    False       True   True  False   False       False  False  False  False
17    False      False   True  False    True       False  False  False  False
18    False      False   True  False    True       False  False  False  False
19    False      False  False  False    True        True  False  False   True

    SUGER    TEA
0   False  False
1   False  False
2   False   True
3   False  False
4   False   True
5   False   True
6   False   True
7   False   True
8   False   True
9   False  False
10  False  False
11  False  False
12   True  False
13  False  False
14   True  False
15   True  False
16   True  False
17   True  False
18   True  False
19  False   True

In [13]:
from mlxtend.frequent_patterns import apriori

In [14]:
# df = True-False array ya da One Hot Encoding ile dönüştürülmüş dataframe
# min_support = Tüm kombinasyonların support değerini istemiyorum bu yüzden belirli bir eşik değerini supporta göre getir.
# use_colnames = True, sutün isimlerini göster.
# verbose = 1, Toplam kombinasyon sayısını verir. 
df1 = apriori(df, min_support=0.02, use_colnames = True, verbose=1)
df1

Processing 30 combinations | Sampling itemset size 54

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
..      ...                                  ...
78     0.05         (BISCUIT, BREAD, TEA, MAGGI)
79     0.10  (COFFEE, BISCUIT, COCK, CORNFLAKES)
80     0.05            (JAM, MILK, BREAD, MAGGI)
81     0.05             (JAM, BREAD, TEA, MAGGI)
82     0.05      (COFFEE, MILK, TEA, CORNFLAKES)

[83 rows x 2 columns]

In [15]:
from mlxtend.frequent_patterns import association_rules

association_rules(df1, metric = "confidence", min_threshold = 0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950,0.558824
1,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,0.0200,1.400,0.166667
2,(JAM),(BREAD),0.10,0.65,0.10,1.000000,1.538462,0.0350,inf,0.388889
3,(MAGGI),(BREAD),0.25,0.65,0.15,0.600000,0.923077,-0.0125,0.875,-0.100000
4,(MILK),(BREAD),0.25,0.65,0.20,0.800000,1.230769,0.0375,1.750,0.250000
...,...,...,...,...,...,...,...,...,...,...
81,"(COFFEE, TEA, CORNFLAKES)",(MILK),0.05,0.25,0.05,1.000000,4.000000,0.0375,inf,0.789474
82,"(MILK, TEA, CORNFLAKES)",(COFFEE),0.05,0.40,0.05,1.000000,2.500000,0.0300,inf,0.631579
83,"(COFFEE, MILK)","(TEA, CORNFLAKES)",0.05,0.10,0.05,1.000000,10.000000,0.0450,inf,0.947368
84,"(COFFEE, TEA)","(MILK, CORNFLAKES)",0.05,0.10,0.05,1.000000,10.000000,0.0450,inf,0.947368
85,"(MILK, TEA)","(COFFEE, CORNFLAKES)",0.05,0.20,0.05,1.000000,5.000000,0.0400,inf,0.842105

In [16]:
#upport değeri %20 ve confidence değeri %60 diyerek dataframe üzerinden indirgeme
rules = association_rules(df1, metric = "confidence", min_threshold = 0.6)
rules[ (rules['confidence'] >= 0.6) & (rules['support'] >= 0.2) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
4,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.75,0.250000
5,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.05,0.035714
8,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80,0.571429
9,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80,0.571429
11,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.25,0.750000

In [ ]:
#Alışverişlerde MAGGI’ın tek başına görülme olasığı %25, TEA’in tek başına görülme olasılığı %35.
#100 alışverişin 20'sinde mutlaka MAGGI ve TEA beraber satın alınıyor. (support)
#MAGGI satıldığında TEA satılma olasılığı 0.800.. yani %80. (confidence)
#MAGGI satılan satışlarda TEA satılma olasılığı 2.28 kat artmaktadır. (lift)